.about-btns {
    display: inline-block;
    width: 100%;
    height: auto;
}
     .myButton {
        display:inline-block;
        float: left;
        margin: 0 0 0 25px;
        padding:10px 31px;
        border-radius:28px;
        background-color:var(--color-font-red1);
        border:1px solid var(--color-font-red3);
        cursor:pointer;
        color:var(--color-font-white2);
        font-size:15px;
        text-decoration:none;
    }
    .myButton:hover {
        background-color: var(--color-font-red2);
        border: none;
        padding: 11px 32px;
    }
    .about-btns .myButton:active {
        position:relative;
        top:1px;
    }
        .about-btns .myButton:last-child:hover {
            background-color: var(--color-blue1);
            border: none;
            padding: 11px 32px;
        }
            .about-btns .myButton.work-button {
                border-color: #3498db;
                color: var( --color-font-white2);
                box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
                -webkit-transition: all 150ms ease-in-out;
                transition: all 150ms ease-in-out;
            }
            .about-btns .myButton.work-button:hover {
                color: var(--color-black1);
                box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
            }
            .fa-download {
                display: none;
            }
            .download-icon-div {
                width: 114px;
                text-align: center;
            }
            .download-icon-div:hover {
                animation: slide 0.5s forwards;
                text-align: left;
            }
            .download-icon-div:hover + .fa-download {
                display: inline-block;
                float: left;
                margin: -17px 0 0 100px;
            }
            #slide {
                position: absolute;
                right: 48%;
                -webkit-animation: slide 0.5s forwards;
                animation: slide 0.5s forwards;
            }
            
            @-webkit-keyframes slide {
                95% {
                    opacity: 0;
                }
                100% { 
                    opacity: 1;
                    right: 50%; 
                }
            }
            
            @keyframes slide {
                95% {
                    opacity: 0;
                }
                100% { 
                    opacity: 1;
                    right: 50%; 
                }
            }