#skills {
    background: var(--color-grey3);
}
    .row .col-3 .skill-container{
        width: 100%;
        height: 320px;
        margin: 30px 0 0 0 ;
        border: 1px solid var(--color-class-transparent-grey-3);
        box-shadow: 1px 1px 10px 1px var(--color-class-grey-5);
    }
    .row .col-3 .skill-container:hover {
        box-shadow: 1px 1px 20px 1px var(--color-class-grey-11);
        transition: all .5s ease 0s;
    }
    #skills .skill-container::after {
        content: '';
        display: inline-block;
        width: 55px;
        height: 2px;
        margin: 0 calc(50% - 25px);
        background-color: var(--color-class-grey-2);    
        }
        .col-3 .skill-html {
            display: flex;
            width: 100%;
            justify-content: center;
        }
            .col-3 .skill-html .html-svg {
                width: 50px;
                height: auto;
                float: left;
                margin: 20px 20px 0 0;
            }
            .col-3 .skill-html .html-span {
                display: inline-block;
                margin: 30px 0 0 0;
                font-size: 25px;
                line-height: 30px;
                text-transform: uppercase;
            }
#skills .flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  #skills .single-chart {
    width: 100%;
    /* margin: 0 0 0 25%; */
    justify-content: space-around ;
  }
  
  #skills .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  #skills .circle-bg {
    fill: none;
    stroke: var(--color-grey1-d);
    stroke-width: 3;
  }
  
  #skills .circle {
    fill: black;
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 2s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
    #skills .circular-chart.show-circle .circle {
        stroke: var(--color-font-red1);
    }
    
  #skills .percentage {
    fill: var(--color-font-white2);
    font-size: 0.5em;
    text-anchor: middle;
  }
