:root {
    --color-font-white1: #ffffff9a;    
    --color-font-white2: #ffffff;    
    --color-font-red1: #DC3545;
    --color-font-red2: #ff041d;
    --color-font-red3: #b6323f;
    --color-black1: #111111;
    --color-grey1: #808080;
}